[Unit]
Description=Runs the full course for the robo-cube.

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/pren/pren-robo-cube-ipcv/
ExecStart=/usr/bin/python3 /home/pi/pren/pren-robo-cube-ipcv/src/pren_course_complete.py

[Install]
WantedBy=multi-user.target